<h1>BIENVENIDO A IÑACHAT</h1>
<h3 id="nombreusuario"></h3>

<form id="formulario">
<input type="text" name="mensaje" id="mensaje">
<input type="submit" value="Enviar">
<button id="clearChat">Vaciar Chat</button>
</form>

<div id="chat">
    
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>