<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Lista de Productos:</h1>
    <ul>
        {{#each products.docs}}
        <li>
            <h3>Producto: {{title}}</h3>
            <p>Precio: {{price}}</p>
            <p>Descripción: {{description}}</p>
        </li>
        {{/each}}
    </ul>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/home.js"></script>
</body>
</html>

