<div>
    <h1>Iniciar Sesión</h1>

    <form id="loginForm">

        <label>Email:</label>
        <input name="email">

        <label>Contraseña:</label>
        <input type="password" name="password">

        <input type="submit">
        <br>
        <br>
        <a href="/api/session/github">Github</a>

    </form>
    <p>¿No estás registrado? <a href="/register">Regístrate ACA</a></p>
</div>

<script src="/js/login.js"></script>